@use "../util" as u;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: u.rem(28) u.rem(32);

  @media (width >= u.em(1110)) {
    padding-block: u.rem(90) u.rem(55);
  }
}

.header-logo-img {
  width: u.rem(45);

  @media (width >= u.rem(1110)) {
    width: u.rem(64);
  }
}
