body {
  max-width: 600px;
  font-size: 2rem;
}

strong {
  padding-left: 18px;
  padding-right: 18px;
  background: peachpuff;
}

strong.clone {
  /* Our obscure magic trick: */
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

p {
  max-width: 200px;
}