* {
  box-sizing: border-box;
}

body {
  max-width: 800px;
  height: 150vh;
  margin: 0;
  padding: 0;
}

header {
  position: sticky;
  top: -20px;
  height: 70px;
  padding-top: 20px;
  background-color: slateblue;
  opacity: 0.9;
}

ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 20px;
  list-style: none;
}

li {
  font-size: 1.5rem;
  line-height: 50px;
  color: white;
}