#playing-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  display: flex;
  justify-content: space-between;
  width: 240px;
  height: 400px;
  padding: 1rem;
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  border: 1px solid black;
}

.card.red {
  color: red;
}

.left {
  align-self: flex-start;
}

.middle {
  align-self: center;
  display: flex;
  flex-direction: column;
  font-size: 4rem;
}

.group-vertical {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.group-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.right {
  align-self: flex-end;
}

.flipped {
  transform: rotate(180deg);
}