:root {
  --color-dark: #000000;
  --color-dark-alternate: #131619;
  --color-light: #FFFFFF;
  --color-dark-gray: #404040;
  --color-light-gray: #C4C4C4;

  --border-radius: 30px;
  --border: 1px solid var(--color-light);

  --font-family-base: 'Heebo', sans-serif;
  --font-family-accent: 'Yantramanav', sans-serif;

  --input-height: 54px;

  --container-width: 1300px;
  --container-padding-x: 15px;

  --transition-duration: 0.2s;

  --header-height: 90px;
}

body {
  font-family: var(--font-family-base);
  font-size: 16px;
  line-height: 1.75;
  font-weight: 300;
  color: var(--color-light-gray);
  background-color: var(--color-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-light);
}

a {
  color: var(--color-light);
}

a:hover {
  color: var(--color-light-gray);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

svg * {
  transition-property: fill, stroke;
}

p {
  margin-block: 0;
}

p:not([class]):not(:last-child) {
  margin-bottom: 24px;
}

svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.container-wide {
  max-width: 1920px;
  margin-inline: auto;
}

.button {
  display: inline-flex;
  align-items: center;
  height: 38px;
  padding-inline: 26px;
  font-size: 12px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 1.2px;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--color-light);
  border: none;
  border-radius: var(--border-radius);
}

.button:hover {
  background-color: var(--color-light-gray);
}

.button.transparent {
  position: relative;
  height: var(--input-height);
  padding-inline: 31px 80px;
  color: var(--color-light);
  background-color: transparent;
  border: var(--border);
}

.button.transparent:hover {
  color: var(--color-dark);
  background-color: var(--color-light-gray);
}

.button.transparent::after {
  content: "";
  position: absolute;
  right: -1px;
  height: 100%;
  aspect-ratio: 1;
  background: url("icons/arrow-top-right.svg") center/70% no-repeat;
  border: var(--border);
  border-radius: 50%;
}

.title-medium {
  font-size: clamp(24px, 2.08vw, 40px);
  line-height: 1.3;
  text-transform: uppercase;
}

.title-big {
  font-size: clamp(32px, 3.12vw, 60px);
  line-height: 1.2;
  text-transform: uppercase;
}

.backdrop-title {
  position: relative;
  z-index: 2;
}

.backdrop-title::before {
  content: "";
  position: absolute;
  right: calc(100% + 8px);
  display: block;
  width: 26px;
  aspect-ratio: 1;
  background: url("icons/plus.svg") center/contain no-repeat;
}

.backdrop-title::after {
  content: attr(data-title);
  position: absolute;
  top: -0.3em;
  left: -0.6em;
  z-index: -1;
  font-family: var(--font-family-accent);
  font-size: 2.8em;
  line-height: 1;
  color: transparent;
  -webkit-text-stroke: 1px var(--color-light-gray);
  text-stroke: 1px var(--color-light-gray);
  opacity: 0.3;
}

.backdrop-title.centered::after {
  left: 50%;
  translate: -50% 0;
}

.section-subtitle {
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-light);
}

.input {
  width: 100%;
  height: var(--input-height);
  padding-inline: 25px;
  color: var(--color-light);
  background-color: transparent;
  border: 1px solid var(--color-light-gray);
  border-radius: var(--border-radius);
}

.input:hover {
  border-color: var(--color-light);
}

.input:focus {
  color: var(--color-dark);
  background-color: var(--color-light-gray);
  outline: none;
}

.input::placeholder,
select.input:invalid {
  color: var(--color-light-gray);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  min-height: var(--header-height);
  padding-inline: 32px;
  background-color: var(--color-dark-alternate);
}

.header-logo {
  flex-shrink: 0;
}

.header-menu-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 62px;
}

.header-menu-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: var(--header-height);
  font-size: 12px;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-decoration: none;
  text-transform: uppercase;
}

.header-menu-link.is-current::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -12px;
  transform: translateY(-50%);
  width: 5px;
  aspect-ratio: 1;
  background-color: currentColor;
  border-radius: 50%;
}

.header-actions {
  display: flex;
  column-gap: 40px;
}

.header-burger-button {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 4px;
  width: 40px;
  aspect-ratio: 1;
  padding-left: 8px;
  color: var(--color-light);
  background-color: transparent;
  border: var(--border);
  border-radius: 50%;
}

.header-burger-button:hover {
  color: var(--color-light-gray);
  border-color: currentColor;
}

.header-burger-button-line {
  width: 6px;
  height: 1px;
  background-color: currentColor;
  box-shadow: 16px 0 0 currentColor;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-height: calc(100vh - var(--header-height));
  padding: 36px 70px;
  color: var(--color-light);
  background-color: var(--color-dark-alternate);
}

.banner-info {
  display: flex;
  align-items: end;
  font-size: clamp(16px, 1.56vw, 30px);
  line-height: 1.27;
  font-weight: 700;
  text-transform: uppercase;
}

.banner-info::before {
  content: "";
  width: clamp(60px, 10.1vw, 194px);
  margin-right: clamp(10px, 1.56vw, 30px);
  aspect-ratio: 1;
  background: url("icons/bold-arrow-down-right.svg") center/contain no-repeat;
}

.banner-title {
  font-size: min(18.75vw, 360px);
  line-height: 1;
}

.banner-pagination-list {
  display: flex;
  justify-content: center;
}

.banner-pagination-item {
  display: flex;
}

.banner-pagination-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  background-color: transparent;
  border: none;
}

.banner-pagination-button::after {
  content: "";
  width: 10px;
  aspect-ratio: 1;
  border: var(--border);
  border-radius: 50%;
  transition-duration: var(--transition-duration);
}

.banner-pagination-button:not(.is-current):hover::after {
  border-color: var(--color-light-gray);
}

.banner-pagination-button.is-current::after {
  background-color: var(--color-light);
}

.motivation-item:nth-child(even) {
  background-color: var(--color-dark-alternate);
}

.motivation-card {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: clamp(30px, 10.42vw, 200px);
}

.motivation-item:nth-child(even) .motivation-card {
  flex-direction: row-reverse;
}

.motivation-card-body {
  padding-left: 35px;
}

.motivation-card-title:not(:last-child) {
  margin-bottom: 14px;
}

.motivation-card-description {
  max-width: 400px;
}

.motivation-card-description:not(:last-child) {
  margin-bottom: 37px;
}

.motivation-card-image {
  height: auto;
  margin-block: -60px;
}

.types {
  position: relative;
  padding-block: 70px 120px;
  background-color: var(--color-dark);
}

.types-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 60px;
}

.types-item {
  --typesBgIconSize: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  padding-top: var(--typesBgIconSize);
  background: url("icons/transparent-wrrow-bottom-left.svg") 100% 0 / var(--typesBgIconSize) no-repeat;
}

.types-item-title {
  margin-top: auto;
}

.join-us {
  background-color: var(--color-dark-alternate);
}

.join-us-video-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px 30px;
  background: var(--color-dark-alternate) url("images/join-us-bg.jpg") center/cover no-repeat;
}

.join-us-video {
  width: 100%;
  max-width: 960px;
  height: auto;
}

.join-us-video-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
  width: 200px;
  aspect-ratio: 1;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-light);
  background-color: transparent;
  border: var(--border);
  border-radius: 50%;
}

.join-us-video-play-button:hover {
  color: var(--color-dark);
  background-color: var(--color-light-gray);
}

.join-us-video-play-button::after {
  content: "";
  width: 26px;
  aspect-ratio: 1;
  background: url("icons/arrow-top-right.svg") center/contain no-repeat;
  transition-duration: var(--transition-duration);
}

.join-us-video-play-button:hover::after {
  filter: invert(1);
}

.join-us-body {
  padding-bottom: 150px;
}

.join-us-title {
  position: relative;
  margin-top: -0.4em;
  font-size: clamp(64px, 9.37vw, 180px);
  line-height: 1;
  text-align: center;
}

.join-us-title:not(:last-child) {
  margin-bottom: 130px;
}

.join-us-title::after {
  content: "";
  display: inline-block;
  width: 0.7em;
  aspect-ratio: 1;
  margin-left: 0.14em;
  background: url("icons/bold-arrow-down-right.svg") center/contain no-repeat;
  scale: 1 -1;
}

.join-us-form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 7px;
  margin-bottom: 52px;
}

.join-us-form-body {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.join-us-form-input {
  max-width: 400px;
}

.location-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.location-map-image {
  width: 100%;
  height: auto;
}

.location-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 15px;
  text-align: center;
}

.location-title:not(:last-child) {
  margin-bottom: 14px;
}

.location-description {
  max-width: 490px;
}

.location-description:not(:last-child) {
  margin-bottom: 37px;
}

.family {
  background-color: var(--color-dark-alternate);
}

.family-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 7px;
  padding-block: 132px 62px;
  text-align: center;
}

.family-body {
  display: flex;
  justify-content: center;
  column-gap: 26px;
  scroll-snap-type: x mandatory;
  /* overflow-x: scroll; */
  overflow: hidden;
  /* Temporary to hide horizontal scroll */
}

.family-image {
  scroll-snap-align: start;
}

.calculate {
  padding-block: 146px;
  background-color: var(--color-dark-alternate);
}

.calculate-inner {
  display: flex;
  align-items: center;
  column-gap: 36px;
}

.calculate-body {
  flex-grow: 1;
  max-width: 627px;
}

.calculate-title:not(:last-child) {
  margin-bottom: 16px;
}

.calculate-description {
  max-width: 385px;
}

.calculate-description:not(:last-child) {
  margin-bottom: 32px;
}

.calculate-form-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px 30px
}

.calculate-form-body:not(:last-child) {
  margin-bottom: 26px;
}

.calculate-input.wide {
  grid-column: 1 / -1;
}

.calculate-input option {
  color: var(--color-dark);
}

.calculate-table-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 610px;
}

.calculate-table-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
  aspect-ratio: 1;
  background-color: var(--color-dark);
  border-radius: 50%;
}

.calculate-table {
  position: relative;
  border-collapse: collapse;
}

.calculate-table th {
  padding-block: 20px;
  text-align: left;
  text-transform: uppercase;
  color: var(--color-light);
}

.calculate-table :is(td, th) {
  padding-right: 30px;
}

.calculate-table :is(td, th):not(:first-child) {
  padding-left: 30px;
}

.calculate-table :is(td, th):not(:last-child) {
  border-right: 1px solid var(--color-dark-gray);
}

.calculate-table td {
  padding-block: 14px;
}

.calculate-table-body td {
  border-top: 1px solid var(--color-dark-gray);
}

.calculate-table-body tr:last-child td:first-child {
  position: relative;
}

.calculate-table-body tr:last-child td:first-child::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 70%;
  height: 1px;
  background-color: var(--color-dark-gray);
}

.calculate-table-footer td {
  padding-block: 33px 0;
  color: var(--color-light);
}

.footer {
  --footerLogoWidth: 20.77%;
}

.footer-main {
  padding-block: 140px 160px;
}

.footer-header {
  display: grid;
  grid-template-columns: var(--footerLogoWidth) auto;
  column-gap: 62px;
}

.footer-header:not(:last-child) {
  margin-bottom: 60px;
}

.footer-logo-image {
  height: auto;
}

.footer-description {
  text-align: left;
}

.footer-description a {
  text-decoration: none;
}

.footer-body {
  display: grid;
  grid-template-columns: var(--footerLogoWidth) repeat(3, 1fr);
  column-gap: 62px;
}

.footer-column-title {
  font-size: clamp(18px, 1.15vw, 22px);
}

.footer-column-title:not(:last-child) {
  margin-bottom: 15px;
}

.footer-column-title.has-arrow::after {
  content: "";
  display: inline-block;
  height: 0.74em;
  aspect-ratio: 1;
  margin-left: 0.5em;
  background: url("icons/bold-arrow-down-right.svg") center/contain no-repeat;
  scale: -1 1;
}

.footer-about {
  max-width: 450px;
}

.footer-schedule:not(:last-child) {
  margin-bottom: 13px;
}

:is(.footer-address, .footer-contacts) {
  font-style: normal;
}

.footer-address:not(:last-child) {
  margin-bottom: 35px;
}

.footer-contacts-link {
  text-decoration: none;
  color: inherit;
}

.subscribe {
  position: relative;
}

.subscribe:not(:last-child) {
  margin-bottom: 50px;
}

.subscribe-input {
  padding-right: 70px;
}

.subscribe-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  aspect-ratio: 1;
  background: transparent url("icons/arrow-top-right.svg") center/70% no-repeat;
  border: var(--border);
  border-radius: 50%;
}

.subscribe-button:hover {
  background-color: var(--color-light-gray);
}

.socia1s-list {
  display: flex;
  column-gap: 18px;
}

.socia1s-link {
  display: flex;
  width: 23px;
}

.footer-extra {
  padding-block: 15px;
  background-color: var(--color-dark-alternate);
}

.footer-copyright {
  font-size: 14px;
}

.footer-copyright a {
  color: inherit;
  text-decoration: none;
}