html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

img {
  max-width: 100%;
  border-radius: 5px;
}

.button {
  background-color: #2d697c;
  padding: 0.5rem;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
}

.button:hover {
  background-color: #327c94;
}

.card {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  gap: 0;
  padding: 3rem 0;
}

.card:not(:last-of-type) {
  border-bottom: 1px solid lightblue;
}

.card img {
  grid-column: 2/3;
  grid-row: 1/3;
}

.card h2 {
  margin: 0;
  font-size: 1.2rem;
}

.card p {
  margin: 0;
}

.feature img {
  margin-bottom: 2rem;
  grid-column: 1/3;
  grid-row: 2/3;
}

.feature p:not(:has(a)) {
  display: none;
}

.feature p:last-child {
  grid-row: 3/4;
}

@media (min-width: 500px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .card {
    padding: 1rem;
    display: block;
    border: 1px solid lightblue;
  }

  .card img {
    margin-block: 1rem;
  }

  .feature {
    grid-column: 1/3;
  }

  .feature p:not(:has(a)) {
    margin-bottom: 1rem;
    display: block;
  }
}

@media (min-width: 700px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .feature {
    grid-column: 1/4;
  }
}

@media (min-width: 950px) {
  .grid-container {
    margin-inline: auto;
    max-width: 1200px;
  }

  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .card p {
    grid-column: 1/3;
    grid-row: 2/3;
    margin: 0;
  }

  .feature {
    display: block;
    grid-column: 1/3;
    grid-row: 1/4;
  }

  .card a {
    font-size: 0.7rem;
  }

  h1 {
    margin-inline: auto;
    margin-block: 2rem;
    max-width: 1200px;
  }
}
