.inner-hero {
  padding-top: 123px;
  min-height: 210px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.inner-hero_catalog {
  background-image: url('../../img/bg-inner-hero_2x.jpg');
}