@use "../util/" as u;

.testimonial-quote {
  display: flex;
  flex-direction: column;
  margin-block: 0;
}

.testimonial-quote::before {
  content: "";
  width: clamp(
    u.rem(52),
    calc(2.511rem + 3.152vw),
    u.rem(78)
  ); /* min: 52px, max: 78px */
  aspect-ratio: 78 / 66;
  margin-block-end: clamp(
    u.rem(20),
    calc(0.682rem + 2.424vw),
    u.rem(40)
  ); /* min: 20px, max: 40px */
  background-image: url("../../../img/testimonial/quotation-mark.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.testimonial-quote > p {
  font-size: clamp(
    u.rem(24),
    calc(1.159rem + 1.455vw),
    u.rem(36)
  ); /* min: 24px, max: 36px */
  font-weight: 700;
  line-height: 1.25;
  margin-block-end: u.rem(40);
}

.testimonial-author {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: u.rem(20) u.rem(30);

  @include u.breakpoint(large) {
    flex-direction: row;
  }
}

.testimonial-author img {
  width: u.rem(120);
  border-radius: 50%;
}

.testimonial-author p {
  margin-block-end: 0;
  text-align: center;

  @include u.breakpoint(large) {
    text-align: start;
  }
}
